html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #5CB5B0;
    text-decoration: none;
}
a:hover{
    color: #328884;
}
.clearfix{
    display: block;
    clear: both;
}

.main_header{
    background: white;
    box-shadow: 0 11px 20px rgba(102, 191, 191, 0.5);
    margin-bottom: 30px;
}

.site_container{
    width: 67.71%;
    margin: 0 auto;
}

.main_logo {
    display: inline-block;
    width: 151px;
    height: 89px;
    background: url('images/logo.png');
    margin-top: 5px;
}

.main_navigation{
    float: right;
    margin-top: 25px;
    margin-right: -12px;
}
.main_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_navigation ul li{
    float: left;
}
.main_navigation ul:after{
    display: block;
    content: '';
    clear: both;
}
.main_navigation ul li a{
    display: block;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 12px;
    margin-left: 23px;
}
.main_navigation a.selected{
    font-weight: bold;
    border-bottom: 3px solid #FACA68;
}
.burger_menu{
    display: none;
    float: right;
    color: black;
    font-size: 32px;
    padding: 20px;
}


aside.filters {
    background: green;
    width: 23.84%;
    float: left;
}
.page_body{
    width: 74.61%;
    float: right;
}

.page_section{
    margin-bottom: 43px;
}
.page_section h2{
    font-size: 2em; /* 28px */
}
.page_section h2 span{
    font-size: 1.429rem; /* 20px */
}

.colorful_buttons {
    display: inline-block;
    padding: 13px 33px 14px 32px;
    background: #eee;
    margin-right: 33px;
    margin-bottom: 15px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    /* vertical-align: top; */
    background: linear-gradient(90deg, #FFD074 0%, #FA68BE 100%);
    transition: all .2s ease-out;
}
.colorful_buttons:hover{
    color: white;
    opacity: .7;
}
.colorful_buttons:active{
    /* margin-top: 2px; */
    /* margin-bottom: 13px; */
    transform: translateY(3px);
}

.colorful_buttons.green {
    background: linear-gradient(90deg, #68FAF8 0%, #74FBB4 100%);
}
.colorful_buttons.gray {
    background: linear-gradient(90deg, #F57E86 0%, #9ECEEF 100%);
}

.deals_list{
    display: flex;
    justify-content: space-between;
}
.deal_list_item{
    width: 32%;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}
.deal_list_item .deal_pic{
    display: block;
    height: 170px;
    background: #eee center;
    background-size: cover;
    margin-bottom: 10px;
}
.deal_list_item .deal_title{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.429em;
    font-weight: bold;
    margin-bottom: 3px;
}
.deal_list_item p{
    margin: 0;
    color: #808080;
}
.deal_list_item .deal_price{
    display: flex;
    justify-content: space-between;
}





/* mine */
/* .deal_list_item{
    float: left;
    width: 32%;
    height: 100px;
    margin-right: 2%;
    margin-bottom: 15px;
    background: orange;
}
.deal_list_item:nth-child(3n){
    margin-right: 0;
}
.deal_list_item:nth-child(3n+1){
    clear: both;
} */

.main_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.hdr_placeholder{
    height: 150px;
}

.scroll_to_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}



@media only screen and (max-width: 1200px){
    .site_container{
        width: 80%;
    }
}
@media only screen and (max-width: 950px){
    .site_container{
        width: 95%;
    }
}
@media only screen and (max-width: 760px){
    .main_navigation ul li a{
        font-size: 16px; 
    }
    .deal_list_item {
        width: 48%;
        margin-bottom: 20px;
    }
    .deals_list {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 700px){
    .main_logo {
        display: block;
        margin: 5px auto 0;
    }
    .main_navigation {
        display: inline-block;
        float: none;
        margin: 0;
    }
    .main_header{
        text-align: center;
    }
    aside.filters {
        display: none;
    }
    .page_body {
        float: none;
        width: auto;
    }
}
@media only screen and (max-width: 560px){
    .main_navigation{
        display: none;
    }
    .burger_menu{
        display: block;
    }

    body{
        font-size: 12px;
    }
}