body {
    background: #DAE3E7;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #778492;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    padding: 30px 0;
    background: #f5f5f5;
    margin-bottom: 2.5rem;
}
.border {
    border-radius: 50%;
    
}
.picture {
    margin-right: 2.5rem;
    margin-left: 15px;
}
.picture .img-fluid {
    height: 250px;
}
/* -------social buttons ---------- */
.list-inline-item {
    display: inline-block;
}

.text_primary {
    color: rgb(3,57,88)!important;
    font-weight: 900;
    font-size: 1.4em;
}

.fa-stack{
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}
.fa-stack-2x{
    font-size: 2em;
}
.fa-stack-1x{
    line-height: inherit;
}
.fa-stack-white{
    color: #fff!important;
}
#Some-logos a:hover {
    transform: scale(1.25);
}

/* ----------------------main section-------- */

.about {
    padding: 30px;
}
.section {
    background: #f5f5f5;
    margin-bottom: 2.5rem;
}
.line {
    margin-top: 1rem;
    border-top: 2px solid rgba(0,0,0,.1);
    margin-bottom: 3rem;
}
.title a {
    color: #778492;
}
/* -------------------Education section -------- */
.content h3 {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
}
.diplom_icon {
    display: block;
    margin-right: 10px;
}
.university{
    font-size: 13px;
    color: #999 ;
    font-weight: 600;
    padding-left: 30px;
}
.year {
    color: #b0b7bf;
    font-weight: 500;
}
