html , body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
a {
  color: #5CB5B0;
  text-decoration: none;
}
a:hover{
  color: #133635;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 11px 20px rgba(161, 163, 163);
  background-color: white;
}

.logo img {
  width: 150px;
  margin-top: 6px;
  margin-left: 6px;
}
.hdr_placeholder{
  height: 150px;
}
.nav-links {
  display: flex;
  background-color: white;
  list-style: none;
  justify-content: space-around;
  width: 65%;
}

.nav-links li {
  transition: all 0.6s ease;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
} 
.nav-links li:hover {
  cursor: pointer;
  background-color: lightblue;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  background-color: #5CB5B0;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.5s ease;
}

/* ------main------- */

.row {
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
}
.padding {
  padding: 1.5rem;
}
.img {
  width: 100%;
  height: 150px;
}
.img_react {
  width:100%;
  height: 100%;
}
.section {
  margin-bottom: 2.5rem;
}
.title a {
  color: #778492;
}
.deal_list_item{
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  margin: 0.5em;
  box-sizing: border-box;
}
.deal_list_item .deal_pic{
  display: block;
  height: 220px;
  background-size: cover;
  margin-bottom: 10px;
}
.deal_list_item .deal_title{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.429em;
  font-weight: bold;
  margin-bottom: 3px;
}
.deal_list_item p{
  color: #808080;
}


/* ----aside---- */

.brand div ul {
  list-style: none;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.white {
  background-color: #808080;
}




@media only screen and (max-width: 768px){
  
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 450px;
    top: 71px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition:  0.5s ease-in;
    z-index: 1050;
  }
  .nav-links li a {
    opacity: 0;
    color: rgb(223, 247, 255);
    z-index: 9999;
  }
  
  .burger {
    display: block;
  }
  .head a img {
    display: none;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}