// @import '/node_modules//bootstrap/scss/bootstrap';

body {
    background-color:#ccc;

    
    
    .container {
        background-color: coral;
        max-width: 1280px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
