html, body {
    
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a {
    color:white;
    text-decoration: none;
}
a:hover {
    color: #10778a;
    text-decoration: none;
    opacity: 0.7;
}
h3::after, h2::after {
    content: "";
    margin-top: .5em;
    width: 1.5em;
    height: .15em;
    background: rgb(219,56,60);
    display: block;
}

.main_header {
    width:auto;
    /* width: 100%; */
    margin-top: -20px;
    
}
.top_navi {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgba(107, 107, 107, 0.74);
    text-decoration: none;
    
}
.main_logo {
    display: inline-block;
    box-sizing: border-box;
    width: 75px;
    height:75px;
    background: url('images/logo_75.jpg');
    background:cover;    
}
.top_navigation {
    flex-grow:6;
    max-width: 100%;

}
.top_navigation ul {
    display: flex;
    
}
.top_navigation ul li {
    margin-right:35px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    
}

.main_navigation {
    flex-grow:1;
    text-align: right;
}

.main_navigation a {
    margin-top: 15px;
    margin-right: 15px;
}

.bar_navi {
    display: none;
    position: absolute;
    top:100%;
    width: 100px;
    height: 300px;
    background: red;
    left:0;
}
.bar_navi ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.bar_navi ul li {
    float: none;
}
.bar_navi ul li a {
    background: #111;
}
.main_navigation nav:hover .bar_navi {
    display: block;
    transition: 2ms;
}
.burger_menu {
    font-size: 3em;
}
.site_container {
    display: flex;
    margin-top:20px;
}



.aside {
    max-width: 30%;
    background: #04044d;
    width: 30%;
    padding-right: 0;
    padding-left: 0;
    color:white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}  
.aside_table {
    padding:30px;
}

.button_book {
    display: inline-block;
    border:1px solid white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding:10px;
    margin-top: 20px;
}
.button_book:hover {
    opacity: 0.5;
}
.button_book:active {
    transform: translateY(3px);
}

.main_body {
    display: block;
    background: white;
    max-width: 70%;
    padding-left: 0px;
    padding-right: 0px;

}
.main_text {
    padding: 40px;
    margin-right: 300px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    width: auto;
    height: 500px;
    height: auto;
    margin-bottom: 0px;
    
}
.col_pics {
    display: inline-block;
    flex: 0 0 25%;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}
.gallery_image {
    display: block;
    width: 100%;
    height: 65%;
}
.section_main {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 500px;
    height: auto;
}
.image_section {
    display: block;
    flex: 1;
    box-sizing: border-box;
    width: 50%;
    height: 500px;
    
}
.text_section {
    
    width: 50%;
    height: 500px;
}
.cover_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}





.v-nav {
    position: relative;
    
}

.v_nav_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
}
