@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container {
    width: 100%;
    padding-right: -15px;
    padding-left: -15px;
}
.main {
  height: 90vh;
  /* background: #fff; */
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
.row {
  background: url('./img/weatherApp.jpeg');
  box-shadow: 7px 7px 9px rgba(0, 0, 0, .8);
  
  height: 90vh;
  display: flex;
  background-size: cover;

}
.title-container {
  height: 90vh;
  display: flex;
  background-size: cover;
  align-items: center;
  text-align: center;
  color: #cecece;
}

.title-container__title {
  font-size: 5rem;
  letter-spacing: 2px;
  line-height: 1.3;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
  margin-top: 7rem;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  height: 90vh;
  padding-top: 100px;
 
}

  input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  }




  button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #f16051;
    color: #fff;
    font-weight: 100;
  }
  
  button:active {
    outline: none;
  }
  
  .weather__info {
    width: 60%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  
  .weather__key {
    color: #f16051;
    border-bottom: solid 2px rgba(255,255,255,0.06);
    padding: 20px 0 20px 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.8rem;
  }
  
  .weather__key:last-child {
    border: 0;
  }
  
  .weather__value {
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.0rem;
  }
  
  .weather__error {
    color: #f16051;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
  }
  .wi {
    font-size: 20rem;
  }



  @media only screen and (max-width: 650px) {
    
    
    .row {
      display: flex;
      flex-direction: column;
      text-align: center!important;
    }
    
    .title-container.col-xs-6{
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
      margin-top: 7rem;
      text-align: center;
    }

    .form-container {
      width: 100%;
      padding-top: 10px;
    }

    .title-container__title{
      font-size: 2rem;
      margin-top: 3rem;
    }
    .wi {
      font-size: 10rem;
    }
  }
